*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}

.main-welcome{
  height:2vh;
  background-image: linear-gradient( rgb(56, 144, 245), white);
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.body{
  font-size: 67.5%;

}
.header-mains{
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient( rgb(56, 144, 245), white);
  padding-top: 2rem;
  display: flex;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 3.3rem;
  
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.header{
 padding-top: 1rem;
display: flex;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;

height: 3.3rem;
width: 100%;
justify-content: space-between;
align-items: center;
font-size: 1.2rem;

}

.logo{
  font-size: 3.5rem;
  font-weight: 600;
 
  letter-spacing: 0.2rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Satisfy', cursive;
}

.header-mains a{
  text-decoration: none;
  color: black;
}
.menu-bar{
  display: flex;
  justify-content: unset;
  

  
}
.user-view{
  display: block;
 margin-left: 40%;
 border: .2rem solid rgb(0, 111, 237);
 border-radius: 7rem;
}
.user-view:active{
  background-color:  rgb(0, 111, 237);
}
.menu-bar .it{
  position: relative;
  margin-left: 2.5%;
  margin-right:5.5%;
  width:7rem;
}
.menu-bar .it:hover::after{
  content: '';
  position: absolute;
  top: 75%;
  left: 0%;
background-image: linear-gradient( to bottom,  rgb(0, 111, 237),rgba(255, 255, 255, 0.867));
  opacity: 0.8;
  width:5.8rem;
  height: .5rem;
  background-color: aqua;
}

.head-btn{
  display: flex;
  
  width: 13%;
  margin-right: 1%;
}
.head-btn a{
  margin-left: 5%;
  margin-right: 5%;
  border: .2rem solid  rgb(0, 111, 237);
   padding-top: .3rem;
   padding-bottom: .3rem;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: 3rem;
   transition: .4s;
   box-shadow: .5rem 0.1rem 0.8rem 0.1rem rgba(27, 27, 27, 0.554);
  }
  .head-btn a:hover{
    background-image: linear-gradient(  rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
    box-shadow: .5rem 0.1rem 0.8rem 0rem rgba(27, 27, 27, 0.554);
    transform: translateY(3%);
    filter: brightness(110%);
  }

  .intro{
    display: flex;
    margin-top: 7%;
    margin-left: 3%;
  }

  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 40%;
    margin-left: 5%;
    padding-top: 8%;
  }
.welcome strong{
  color: rgb(0, 111, 237) ;
  font-size:3rem;
  font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
margin-left: 1%;
margin-right: 1%;
}
.discover{

  border: .3rem solid  rgb(0, 111, 237);
  background-color:  rgb(0, 111, 237);
   padding-top: .3rem;
   padding-bottom: .3rem;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: 3rem;
   transition: .4s;
   box-shadow: .5rem 0.1rem 0.8rem 0.1rem rgba(27, 27, 27, 0.554);
  filter: brightness(120%);
  animation: but; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

}

@keyframes but {
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(15%);
  }
  100%{
    transform: translateY(0%);
  }
}
.discover {
  text-decoration: none;
  color: #fff;
  font: 700;
  font-size: 1.5rem;
}

.scroll{
  animation: but; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  font-size:3rem;
  font-weight: 210;
 
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;

  margin-left: 35%;
}

/*1st scroll*/
.price{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: fit-content;
}


/*price bar 1*/
.b1 .list1{
  transition: 0.23s;
  display: flex;
  flex-direction: column;
  border: 0.6rem solid;
  border: .4rem solid  rgb(0, 111, 237);
  padding: 10px;
  border-radius: 1rem;
  align-items: center;
  height: 60vh;
  width: 140%;
  justify-content: space-around;
  box-shadow: .2rem .3rem .3rem .3rem rgba(128, 128, 128, 0.685);
  animation-name: featli;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-delay: 4s;

}
.list1 a{

  text-decoration: none;
  color: black;
  font-size:1rem;
  font-weight: 400;
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}

/*price bar 2*/
.b1 .list2{
  transition: 0.23s;
  display: flex;
  flex-direction: column;
  border: 0.6rem solid;
  border: .4rem solid  rgb(0, 111, 237);
  padding: 10px;
  border-radius: 1rem;
  align-items: center;
  height: 60vh;
  width: 140%;
  justify-content: space-around;
  animation-name: pricetwo;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-delay: 4s;
  box-shadow: .2rem .3rem .3rem .3rem rgba(128, 128, 128, 0.685);

}
.list2 a{

  text-decoration: none;
  color: black;
  font-size:1rem;
  font-weight: 400;
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}
/*price bar 3*/
.b1 .list3{
  display: flex;
  flex-direction: column;

  border: .4rem solid  rgb(0, 111, 237);
  padding: 10px;
  border-radius: 1rem;
  align-items: center;
  height: 60vh;
  width: 140%;
  justify-content: space-around;
  animation-name: pricethree;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-delay: 4s;
  box-shadow: .2rem .3rem .3rem .3rem rgba(128, 128, 128, 0.685);
  transition: 0.23s;

}
.list3 a{

  text-decoration: none;
  color: black;
  font-size:1rem;
  font-weight: 400;
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}

.list1 .pcbtn1{
  font-weight: 800;
  border: .3rem solid  rgb(0, 111, 237);
  background-color: white;
   padding-top: .3rem;
   padding-bottom: .3rem;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: 3rem;
   filter: brightness(120%);
 
}
.list1 .pcbtn1:hover::after{
  content: '$5.99';
  position: absolute;
  top: -10%;
  left: -4%;
  background-image: linear-gradient(to right,  rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
  
  width: 5.4rem;
  height:2.0rem;
  border-radius: 3rem;
  filter: brightness(120%);
  animation-name: butr;
  animation-duration: 0.3s;

  animation-fill-mode: backwards;
  font-weight: 600;
 text-align: center;
 padding-top: .5rem;
}


@keyframes butr {
  0%{

   width: 0rem;
   background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   
  }

   20%{
    width: 2rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   40%{
    width: 4rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   60%{
    width: 5rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   80%{
    width: 5.3rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   100%{
    width: 5.3rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
}




.list2 .pcbtn2{
  margin-top: 01%;
  border: .3rem solid rgb(0, 111, 237);
  background-color: white;
   padding-top: .3rem;
   padding-bottom: .3rem;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: 3rem;
   filter: brightness(120%);
   font-weight: 800;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

}
.list2 .pcbtn2:hover::after{
  content: '$19.99';
  position: absolute;
  top: -10%;
  left: -4%;
  background-image: linear-gradient(to right, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
  
  width: 5.4rem;
  height:2.0rem;
  border-radius: 3rem;
  filter: brightness(120%);
  animation-name: butr;
  animation-duration: 0.3s;

  animation-fill-mode: backwards;
  font-weight: 600;
 text-align: center;
 padding-top: .5rem;
}


@keyframes butr {
  0%{

   width: 0rem;
   background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   
  }

   20%{
    width: 2rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   40%{
    width: 4rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   60%{
    width: 5rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   80%{
    width: 5.3rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   100%{
    width: 5.3rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
}
.list3 .pcbtn3{
  margin-top: -4%;
  border: .3rem solid rgb(0, 111, 237);
  background-color: white;
   padding-top: .3rem;
   padding-bottom: .3rem;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: 3rem;
   filter: brightness(120%);
   font-weight: 800;

}
.list3 .pcbtn3:hover::after{
  content: '$49.99';
  position: absolute;
  top: -10%;
  left: 0%;
  background-image: linear-gradient(to right, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
  
  width: 5.5rem;
  height:2.0rem;
  border-radius: 3rem;
  filter: brightness(120%);
 
 animation-name: butr;
 animation-duration: 0.3s;
  animation-fill-mode: backwards;
  font-weight: 600;
 text-align: center;
 padding-top: .5rem;
}


@keyframes butr {
  0%{

   width: 0rem;
   background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   
  }

   20%{
    width: 2rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   40%{
    width: 4rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   60%{
    width: 5rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   80%{
    width: 5.4rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
   100%{
    width: 5.4rem;
    background-image: linear-gradient(to left, rgb(0, 111, 237),rgba(220, 220, 100, 0.774));
   }
}
.price{
  width: 85%;
  margin-left: 5%;
}

.boxadjust{
margin-top: 2%;
}

.ft-box{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 3rem;
margin-bottom: 4rem;
}


h4{
  color: rgb(0, 111, 237);
  font-size: 4rem;
  margin-bottom: 2rem;
  animation-name: feat;
  animation-duration: 2s;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  animation-iteration-count: 1;
}

h5{
  margin-bottom: 8%;
}
.ft li{
  font-size: 2rem;
  list-style-type:disc;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  animation-name: featli;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-iteration-count: 1;
}

@keyframes featli {

from{
  opacity: 0;
  transform: translateX(-30%);
}
to{
  opacity: 1;
  transform: translateX(0%);
}

}
@keyframes pricethree {

  from{
    opacity: 0;
    transform: translateX(40%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
  
  }


@keyframes pricetwo {
  from{
    opacity: 0;
    transform: translateY(40%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

.b1 .list1:hover,.list2:hover,.list3:hover{
  box-shadow: .3rem .8rem .8rem .8rem rgba(128, 128, 128, 0.685);
  transform: translateY(-3%);
}

.review-head{
  display: block;
  font-size: 2.5rem;
  font-weight: 210;
  margin-top: 5rem;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
 text-align: center;
}
.page-back1{
  
  display: flex;
  justify-content: space-around;
  height: 15rem;
  backdrop-filter: blur(100px);
  margin-top: 4rem;
}
.review{
  padding-top: 2rem; 
}
.page-back{
  height: 16rem;
  margin-top: 1rem;
 max-width: 100%;

 filter: brightness(110%);
 opacity: 0.8;
 display: flex;
 backdrop-filter: blur(100px);
 align-items: center;

}
.r1 .info{
clip-path: circle(50% at 50% 50%);
 margin-right: .7rem;
  height: 10rem;
  width: 3rem;
  backdrop-filter: blur(100px);
  padding-top: 2rem;
  
  
}
h6{
 font:700;
 font-size: 1.4rem; 
}
.r1{
  display: flex;
  justify-content: space-around;
   border-radius: 1rem;
  width: 45%;
  font-size: 1rem;
  font-weight: 410;
  margin-right: 3%;
  margin-left: 3%;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
  backdrop-filter: blur(100px);
  padding-top: 1rem;
  padding-left: 1rem;
  transition: 0.3s;
  box-shadow: 0.2rem 0.2rem .3rem .3rem rgba(74, 73, 73, 0.685);
}
.r1:hover{
  box-shadow: .3rem .3rem .5em .5rem rgba(74, 73, 73, 0.685) ;
  transform: translateY(-3%);
  
  border: .4rem solid  rgb(0, 111, 237);
}
.network{
text-align: center;
}
.comp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.about{
  display: flex;
  margin-top: 15rem;
  align-items: center;
  justify-content: space-around;
  height: 18rem;
  position: relative;
  background-color: rgb(236, 239, 243);
}
.abt1,.abt2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}
.abt1 a,.abt2 a{
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
.abt1 a:hover,.abt2 a:hover{
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  zoom: 1.1;
  color:rgb(0, 111, 237);
}


.secureit{
  width: 30%;
  
}
.logo2{
  font-size: 5.5rem;
  font-weight: 600;
  margin-left: 2%;
  letter-spacing: 0.2rem;
  font-family: 'Poppins', sans-serif;
  font-family: 'Satisfy', cursive;
}
.srchbar{
  margin-top: 5%;
  margin-left: 3%;
  width: 18rem;
  height: 3rem;
  border-radius: 3rem;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1rem;
  border: 0.2rem solid rgb(0, 111, 237);
}
.sign-up{
  position: absolute;
  width: 70%;
  height: 6rem;
  background-color:white;
  display: flex;
  justify-content: space-around;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  top: -30%;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 1rem .3rem rgba(74, 73, 73, 0.685);
 
}

.arrbtn{
  margin-left: 5%;
  margin-right: 5%;
  border: .3rem solid rgb(63, 184, 240);
  background-color:  rgb(63, 184, 240);
   padding-top: .3rem;
   padding-bottom: .3rem;
   padding-left: .5rem;
   padding-right: .5rem;
   border-radius: 3rem;
   transition: .4s;
   box-shadow: .5rem 0.1rem 0.8rem 0.1rem  rgb(63, 184, 240) ;
  filter: brightness(120%);
}
.arrbtn a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.arrbtn:hover{
  opacity: 0.7 ;
}
.login-page{
  position: fixed;
 width: 120%;
 background-color:rgba(255, 255, 255, 0.653);
 height: 130vh;
 top: -15%;
 z-index: 3;
 left: -13%;
 backdrop-filter: blur(10px); 
 display:flex;
}
.real-login{
  position: fixed;
 width: 30rem;
 background-color:rgb(249, 249, 249);
 height: 50vh;
 border-radius: 1rem;
 transform: translate(-40%,0%);
 top: 29%;
 left: 50%;
box-shadow: .4rem .5rem 2rem .01rem gray;
}
.guest{
  margin-top: 2rem;
  width: 6rem;
  height: 2rem;
  border-radius: 2rem;
  font-size:.8rem;
  background-color:  rgb(0, 111, 237);
  color: white;
  font-weight: 700;
  border: none;
}
.guest:active{
  opacity: .5;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  align-items: center;
}
.bbx{
  width: 17rem;
  height: 2.5rem;
  border-radius: 3rem;
  padding-left: 1rem;
  margin-top: 2%;
  margin-bottom: 3%;
  border: 0.2rem solid rgb(0, 111, 237);
}

.login h1{
  

  color: black;
  font-size:2.7rem;
  font-weight: 600;
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}
.btn-for-user{
  margin-top: 1%;
  height: 2rem;
  width: 5rem;
}
.error-msg{
  font-size:1rem;

  margin-bottom:1%;
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
}
.loog{
  width: 6rem;
  height: 2rem;
  border-radius: 2rem;
  font-size:.8rem;
  background-color: black;
  color: white;
  font-weight: 700;
}
.loog:active{
  opacity: .5;
}
.login-page-handler{
  display: none;
}

.ibx{
 background-image: url(3129481.jpg);
 background-size: cover;
 background-position: center;
 width: 50%;
 height: 40vh;

}

.sign-up-menu-bar{
  top: 10%;
  margin-left: 10%;
position: fixed;
background-color:rgb(225, 225, 225);
background-image: linear-gradient( rgb(0, 111, 237),white, white, rgb(0, 111, 237));
width:17rem;
height:17rem;
display: none;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
border-radius: 13rem;
right: 3%;
border: 0.2rem solid rgb(0, 111, 237);
}

.sign-up-menu-bar:active{
  transition: 1s;
}

.theme{
  display: flex;
  width: 10rem;
  justify-content: space-around;
}
.theme:hover{
  opacity: 0.7;
}
#lgbtn{
  border: 0.2rem solid rgb(0, 111, 237);
  border-radius: 2rem;
  padding: .5rem .5rem .5rem .5rem;
  color: #fff;
  background-color:rgb(0, 111, 237);
}
#lgbtn:hover{
  opacity: 0.8;
}
.img{
  background-image: url(Flat\ vector\ illustration\ of\ stock\ trader\ working\ on\ computer.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 40%;
  margin-bottom: 5rem;
}

.b1d{
  display: none;
}

.menu-bar-2{
  display: none;
}

@media (min-width:980px)  {
  
  .head-btn{
    width: 15rem;
    display: flex;

    margin-left: 10%;
    
  }
  .upit{
    width: 5rem;
  }
  .main-welcome{
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: space-around;
  }
  .welcome{
    font-size: 1.4rem;
  }

  .header{
  
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: top;
    
  }
  .user-view{
    margin-left: 20%;
  }
  .header-mains{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-mains{
  width: 100%;
  }
  .price{
    height: 0vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 92%;
    margin-top: 1rem;
    height: 47rem;
    text-align: center;
    margin-right: 0rem;
    align-items: center;
  }
  .b1 .list1,.b1 .list2,.b1 .list3{
    text-align: center;
    width: 100%;
    height: 40rem;
    margin-right: 0rem;
    display: flex;
  align-items: center;
  

  }
 
  .scroll{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-left: 0%;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .ft h4{
    text-align: center;
    margin-top: 1.6rem;
    font-size: 40px;
  }
  
  .ft li{
    font-size: 22px;
    margin-top: 8px;
  }
  .network{
    width: 100%;
   display: block;
   text-align: center;
  }
  .review-head{
    font-size: 2rem;
  }
  .secureit{
    text-align: center;
    
    width: 90%;
    padding-right: 0%;
  }

  .about{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    height: 25rem;
  }
  .logo2{
    font-size: 3rem;
  }
  .srchbar{
    margin-left: 0%;
    width: 15rem;
  }
  .abt-con{
    display: flex;
  height: 30rem;
  width: 100%;
  justify-content: space-around;
  
  align-items: center;
  }
  .sign-up{
   height: 4rem;
   display: flex;
   width: 80%;
    font-size: .5rem;
  }
  .arrbtn{
    width: 4rem;
  }
   
  .abt1,.abt2{
    display: flex;
    height: 10rem;
    
  }
  .abt1 a,.abt2 a{
    font-size: 1rem;
  }

  .sign-up{
    height: 10vh;
    font-size: 1rem;
  }
  .arrbtn{
    width: 7rem;
    font-size: 1rem;
  }
  



}

@media (max-width:990px) {

  .main-welcome{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-around;
  }
  .head-btn{
    width:9rem;
    display: flex;
    font-size: .6rem;

    
  }

  .menu-bar-2 .it a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .menu-bar-2 .it a:hover{
    letter-spacing: 2px;
    color:  rgb(0, 111, 237);
  }
  .menu-bar-2 .it a::after:hover{
    content: '';
    position: absolute;
    top: 75%;
    left: 10%;
  background-image: linear-gradient( to bottom,  rgb(0, 111, 237),rgba(255, 255, 255, 0.867));
    opacity: 0.8;
    width:5.8rem;
    height: .5rem;
    background-color: aqua;
  }
  .header{
  
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: top;
    
  }
  .header-mains{
    width: 100%;
  display: flex;
    justify-content: space-between;
  }
  .welcome{
    margin-top: 3rem;
  }
  .logo{
    font-size: 40px;
  }
  .menu-bar{
    display: none;

  }
  .menu-bar-2{
    margin-top: 2.5rem;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;

  }
  
  .img{
    width: 100%;
    height: 40vh;
    margin-bottom: 2rem;
    text-align: center;
  }
 .welcome{
  display: flex;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }
 .welcome p{
  font-size: 22px;
 }

  .intro{
  display: flex;
  flex-direction: column; 
 }

 .discover-main{
  display: block;

 
  
 }
 .discover{
  text-align: center;
  margin-right: 0rem;
  margin-top: 2rem;
  display: block;
  transform:translateX(30%);
  width:10rem;
  
   
}
 .scroll{
font-size: 30px;
display: block;
width: 100%;
margin-top: 5%;
margin-left: 0%;
text-align: center;
 }
.ibx{
  display: none;
}
.ft h4{
  text-align: center;
  margin-top: 1.6rem;
  font-size: 60px;
}

.ft li{
  font-size: 22px;
  margin-top: 8px;
}
.scroll{
  margin-top: 3rem;
}
.price{
  display: flex;
  flex-direction: row;
  width: 92%;
  margin-top: 1rem;
  height: 62rem;
  text-align: center;
  margin-right: 0rem;
  align-items: center;
}
.b1 .list1,.b1 .list2,.b1 .list3{
  text-align: center;
  width: 50%;
  height: 30rem;
  margin-right: 0rem;
  display: flex;
align-items: center;

}

.list1 a ,.list2 a ,.list3 a {
  font-size: 14px;
}

.b1 img{
  display: none;
}
 .review-head{
  font-size: 25px;
 }
 .comp{
  display: flex;
  flex-direction: column;
 }
 .network{
  margin-top: 1rem;
  height: 30vh;
  text-align: center;
 }

  .secureit{
    text-align: center;
    width: 90%;
    padding-right: 0%;
  }

  .about{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    
  }
  .logo2{
    padding-top: 1rem;
    font-size: 2rem;
  }
  .srchbar{
    margin-left: 0%;
    width: 15rem;
  }
  .abt-con{
    display: flex;
  height: 30rem;
  width: 100%;
  justify-content: space-around;
  
  align-items: center;
  }
  .sign-up{
  height: 7vh;
   display: flex;
   width: 80%;
    font-size:1rem;
    
  }
  .arrbtn{
    width: 7rem;
    
  }
   
  .abt1,.abt2{
    display: flex;
    height: 10rem;
    
  }
  .abt1 a,.abt2 a{
    font-size: 1rem;
  }





}












@media (max-width:550px) {

 
  .list1 a ,.list2 a ,.list3 a {
    font-size: 9px;
  }
  .b1{
    margin-right: 0rem;
  }
  .b1 .list1,.b1 .list2,.b1 .list3{
    text-align: center;
    width: 70%;
    height: 20rem;
     margin-right: 0rem;
    display: flex;
   align-items: center;

  
  }
  .ft li{
font-size: 16px;

  }
 .price{
  margin-top: 1rem;
  height: 30vh;
  display: flex;
  margin-top: 5rem;
  width: 30%;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;

 }
 .img{
  width:98%;
  height: 40vh;
  margin-bottom: 0rem;
  text-align: center;
}
 .r1{
  display: none;
 }
 .secureit{
  width: 90%;
    padding-right: 0%;
 }
}